  body {
      background-color: deeppink;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  html,
  body {
      height: 100%;
  }

  .container {
      position: relative;
      width: 100vw;
      /* Largura total da tela */
      height: 100vh;
      /* Altura total da viewport */
      max-width: 100%;
  }

  .fundo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
  }

  .texto-secreto {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #1bb4fe;
      font-size: 24px;
      text-align: center;
      z-index: 1;
      padding: 20px;
      border-radius: 10px;
      font-size: 40px;
      line-height: 70px;
      display: block;
  }

  .sobreposicao {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 3;
  }

  button {
      background-color: #1bb4fe;
      color: white;
      font-size: 20px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      z-index: 4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* Centraliza horizontal e verticalmente */
      text-align: center;
      display: none;
  }

  .remove {
      display: none;
  }